h1 {
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
}

p {
padding-left: 30px;
font-size: 25px;
}

.culoare {
    color: cyan;
}
canvas {
    height: 600px;
    width: 400px;
    border: 1px solid black;
}

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}